<div class="container">
  <script src="/javascripts/main.js"></script>
  <div class="row">  
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <ul class="list-group">
      <h1>Contact Us:</h1>
        <li class="list-group-item">
          <h3 id="contact-title">Need Help?</h3>
          <h4>View Our Frequently Asked Questions Below</h4>
        </li>
        <li class="list-group-item">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I convert my print artwork to PDF
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h3>View our PDF Conversion Tutorials</h3>
         <!-- List group -->
         <ul class="list-group">
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/PhotoshopPDFtutorial.pdf" target="_blank">Photoshop</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/IllustratorPDFtutorial.pdf" target="_blank">Illustrator</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/InDesignPDFtutorial.pdf" target="_blank">InDesign</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/PublisherPDFtutorial.pdf" target="_blank">Publisher</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/PageMakerPDFtutorial.pdf" target="_blank">PageMaker</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/Corel_PDFtutorial.pdf" target="_blank">Corel</a></li>
           <li class="list-group-item"><a href="https://s3-us-west-2.amazonaws.com/myprintingdeals--sys-images/PDF_help-guide/QuarkXPressPDFtutorial.pdf" target="_blank">QuarkXPress</a></li>
         </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Printing FAQ's
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <!-- FAQ Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- Support Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#Support-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Support</h4>
                </a>
              </h4>
            </div>
            <div id="Support-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion2a" role="tablist" aria-multiselectable="false">
                  <!-- Support SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Support-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2a" href="#Support-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>What happens if I forget to enter my promotional code during the order?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Support-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span><p>Promotional code must be entered at the time of order for it to be applied.</p><p>You cannot change any options after you have placed your order. 
                        However you can contact your customer service representative to make changes to your order if possible.</p></span>
                      </div>
                    </div>
                  </div>
                  <!-- Support SubHeading1 End -->
                  <!-- Support SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Support-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2a" href="#Support-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is the difference between Aqueous Satin and Aqueous Gloss?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Support-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span><p>Aqueous Satin has a duller sheen and is pencil receptive.</p><p>Aqueous Gloss has a higher sheen but is not pencil receptive.</p></span>
                      </div>
                    </div>
                  </div>
                  <!-- Support SubHeading2 End -->
                  <!-- Support SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Support-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2a" href="#Support-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>What line screen do you use?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Support-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>We print in Staccato (FM) screening which brings near photographic quality. Our Staccato screening process employs 20 micron dot size which is equivalent to 450 - 500 lpi.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Support SubHeading 3 End -->
                  <!-- Support SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Support-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2a" href="#Support-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>Will I be contacted if there are any issues with my order?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Support-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>Yes, an email will be sent to you regarding our concerns with your file.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Support SubHeading 4 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Support End -->
          
          <!-- Artwork Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#Artwork-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Artwork</h4>
                </a>
              </h4>
            </div>
            <div id="Artwork-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion3a" role="tablist" aria-multiselectable="false">
                  <!-- Artwork SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is bleed?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>Artwork extended 1/8" on all 4 sides to allow for cutter variance.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading1 End -->
                  <!-- Artwork SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>Should I submit my files as reader spreads or printer spreads?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Always submit your files as single pages. Our automated imposition software will do the rest.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading2 End -->
                  <!-- Artwork SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>What values should I use for Rich Black?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>We recommend 40% Cyan, 40% Magenta, 30% Yellow and 100% Black. Please keep total ink coverage at 300% or less.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 3 End -->
                  <!-- Artwork SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>How do I create outlines in Illustrator?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>This option is under the Type menu called Create Outlines (Mac: Command + Shift + O) (Windows: Control + Shift + O).</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 4 End -->
                  <!-- Artwork SubHeading 5 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading5">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse5" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can you create outlines in Photoshop?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFive">
                      <div class="panel-body">
                        <span>Yes, the option is called Convert to Shape. This option is under the Layer menu, Type, option Convert to Shape.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 5 End -->
                  <!-- Artwork SubHeading 6 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading6">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse6" aria-expanded="true" aria-controls="collapseOne">
                          <span>How much Bleed do I need?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSix">
                      <div class="panel-body">
                        <span>We require all files be sent with 1/8 on all sides.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 6 End -->
                  <!-- Artwork SubHeading 7 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading7">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse7" aria-expanded="true" aria-controls="collapseOne">
                          <span>What does too close to trim mean?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSeven">
                      <div class="panel-body">
                        <span>When non bleeding information is near or on the trim line. We ask for a 1/8 margin for all non bleeding information.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 7 End -->
                  <!-- Artwork SubHeading 8 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading8">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse8" aria-expanded="true" aria-controls="collapseOne">
                          <span>What resolution should my file be?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingEight">
                      <div class="panel-body">
                        <span>We ask that all images and artwork be no less the 300DPI.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 8 End -->
                  <!-- Artwork SubHeading 9 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading9">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse9" aria-expanded="true" aria-controls="collapseOne">
                          <span>How do I convert my artwork to CMYK in Photoshop?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingNine">
                      <div class="panel-body">
                        <span>This option is under the 'Image' menu > Mode > option > CMYK Color.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 9 End -->
                  <!-- Artwork SubHeading 10 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading10">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse10" aria-expanded="true" aria-controls="collapseOne">
                          <span>Why are my drop shadows low resolution in Illustrator?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTen">
                      <div class="panel-body">
                        <span>The default setting is 72ppi. To change this go to the menu option Effect, then select Document Raster Effects Settings and change to High (300 ppi).</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 10 End -->
                  <!-- Artwork SubHeading 11 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading11">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse11" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is Rich Black Text?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingEleven">
                      <div class="panel-body">
                        <span>Rich black text is 4 Color type. Text may appear fuzzy. For best results, set your black text to 100% Black.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 11 End --> 
                  <!-- Artwork SubHeading 12 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading12">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse12" aria-expanded="true" aria-controls="collapseOne">
                          <span>How do I fix Transparency issues?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwelve">
                      <div class="panel-body">
                        <span>The simplest way in most programs is to raster together all images and artwork using transparencies into one layer, keeping your type on top in a separate layer.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 12 End -->
                  <!-- Artwork SubHeading 13 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Artwork-subHeading13">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3a" href="#Artwork-subCollapse13" aria-expanded="true" aria-controls="collapseOne">
                          <span>What does low res mean?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Artwork-subCollapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThirteen">
                      <div class="panel-body">
                        <span>Low resolution is typically 240 dpi or lower. We recommend 300 dpi at 100% of picture placement.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Artwork SubHeading 13 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Artwork End -->
          
          <!-- Proof Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#Proof-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Proof</h4>
                </a>
              </h4>
            </div>
            <div id="Proof-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion4a" role="tablist" aria-multiselectable="false">
                  <!-- Proof SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Proof-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#Proof-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>After submitting my artwork, how long does it take to receive my PDF proof?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Proof-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>PDF proofs will be sent within 24 hours of file submission. Weekends and Holidays are not included in the time calculation.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Proof SubHeading1 End -->
                  <!-- Proof SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Proof-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#Proof-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>After submitting my artwork, how long does it take to receive my Hard Copy proof?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Proof-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Hard Copy Proofs will be ready for shipping the next business day after your files are received.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Proof SubHeading2 End -->
                  <!-- Proof SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Proof-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#Proof-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>If I resubmit a new file after receiving my proof, how long will it take to receive a new proof?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Proof-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>All PDF proofs are sent within 24 hours of file submission. Weekends and Holidays are not included in the time calculation.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Proof SubHeading 3 End -->
                  <!-- Proof SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Proof-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#Proof-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>What stock is a hard copy proof printed on?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Proof-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>We use a specialty paper with a satin finish called "Oris Select Proof".</span>
                      </div>
                    </div>
                  </div>
                  <!-- Proof SubHeading 4 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Proof End -->
          
          <!-- Stock Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#Stock-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Stock</h4>
                </a>
              </h4>
            </div>
            <div id="Stock-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion5a" role="tablist" aria-multiselectable="false">
                  <!-- Stock SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Stock-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#Stock-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>Is your Matte stock coated?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Stock-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>Our matte stock comes with a pencil receptive Satin AQ on both sides.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Stock SubHeading1 End -->
                  <!-- Stock SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Stock-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion5a" href="#Stock-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I get paper stock samples?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Stock-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Yes you can. Please contact a customer service representative for details.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Stock SubHeading2 End -->
                  <!-- Stock SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Stock-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion5a" href="#Stock-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is the difference between C1S and C2S?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Stock-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span><p>C1S is coated on one side.</p><p>C2S is coated on both sides.</p></span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Stock SubHeading 3 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Stock End -->
          
          <!-- Coating Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#Coating-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Coating</h4>
                </a>
              </h4>
            </div>
            <div id="Coating-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion6a" role="tablist" aria-multiselectable="false">
                  <!-- Coating SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I write on UV Coating?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>No, most pens do not work on a surface that has been UV coated.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading1 End -->
                  <!-- Coating SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I write on Gloss AQ (Aqueous) coating?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Although some pens will write on Gloss AQ, we do not recommend it for items that need to be written on.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading2 End -->
                  <!-- Coating SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I write on Satin AQ (Aqueous) coating?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>Our Satin AQ is pencil receptive; both pens and pencils will write on this coating.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading 3 End -->
                  <!-- Coating SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is Spot UV?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>The UV is placed over very specific areas on the printed piece.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading 4 End -->
                  <!-- Coating SubHeading 5 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading5">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse5" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is Flood UV?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFive">
                      <div class="panel-body">
                        <span>Flood UV covers the enter side or both sides of the printed piece.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading 5 End -->
                  <!-- Coating SubHeading 6 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading6">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse6" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is UV?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSix">
                      <div class="panel-body">
                        <span>Liquid applied to a printed sheet, then bonded and cured with ultraviolet light.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading 6 End -->
                  <!-- Coating SubHeading 7 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Coating-subHeading7">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion6a" href="#Coating-subCollapse7" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is a PMS color?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Coating-subCollapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSeven">
                      <div class="panel-body">
                        <span>Pantone Matching Systems or PMS is  a mixture of inks that will provide a specific color.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Coating SubHeading 7 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Coating End -->
          
          <!-- Cutting_Binding Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion7" href="#Cutting_Binding-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Cutting &amp; Binding</h4>
                </a>
              </h4>
            </div>
            <div id="Cutting_Binding-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion7a" role="tablist" aria-multiselectable="false">
                  <!-- Cutting_Binding SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>How do you calculate the number out on Custom Cutting?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>The number out is the number of finished pieces per sheet. So, 2 out custom cut means 2 finished pieces per sheet.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading1 End -->
                  <!-- Cutting_Binding SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>What size in your Round Corner?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>We use two sizes a 1/4&quot; radius and a 3/8&quot; radius.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading2 End -->
                  <!-- Cutting_Binding SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>What bindery options do you offer on brochures?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>To view all Options by Product, please see our Product Specifications.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 3 End -->
                  <!-- Cutting_Binding SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>What products do you offer custom cutting on?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>To view all Options by Product, please see our Product Specifications.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 4 End -->
                  <!-- Cutting_Binding SubHeading 5 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading5">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse5" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is a saddle stitch?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFive">
                      <div class="panel-body">
                        <span>A saddle stitch are staples that are placed in the center of the catalog spread to bind it together. Saddle stitch pricing is included with catalog orders.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 5 End -->
                  <!-- Cutting_Binding SubHeading 6 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading6">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse6" aria-expanded="true" aria-controls="collapseOne">
                          <span>Are the round corners die cut?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSix">
                      <div class="panel-body">
                        <span>Our round corners are punch cut.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 6 End -->
                  <!-- Cutting_Binding SubHeading 7 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading7">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse7" aria-expanded="true" aria-controls="collapseOne">
                          <span>Do you perfect bind onsite?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSeven">
                      <div class="panel-body">
                        <span>We send out for this service. Catalogs with perfect bind are available through our custom department. Contact your customer service representative for details.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 7 End -->
                  <!-- Cutting_Binding SubHeading 8 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading8">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse8" aria-expanded="true" aria-controls="collapseOne">
                          <span>What is the difference between a tri-fold flyer and a tri-fold brochure?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingEight">
                      <div class="panel-body">
                        <span>The end product is the same.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 8 End -->
                  <!-- Cutting_Binding SubHeading 9 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Cutting_Binding-subHeading9">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion7a" href="#Cutting_Binding-subCollapse9" aria-expanded="true" aria-controls="collapseOne">
                          <span>What do you offer for drill sizes?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Cutting_Binding-subCollapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingNine">
                      <div class="panel-body">
                        <span>We offer 1/8, 1/4, 5/16, 3/8, and 1/2 inch drill sizes. Five hole auto drilling is also available online.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Cutting_Binding SubHeading 9 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Cutting_Binding End -->
          
          <!-- Shipping Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion8" href="#Shipping-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Shipping</h4>
                </a>
              </h4>
            </div>
            <div id="Shipping-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion8a" role="tablist" aria-multiselectable="false">
                  <!-- Shipping SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>What do I do if I get a damaged box from UPS?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>Save ALL product, packaging material, and box. Contact your customer service representative.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading1 End -->
                  <!-- Shipping SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I arrange my own freight services?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Our system is automated to expedite your order. Unfortunately, there is not a way to handle this efficiently where it would make sense.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading2 End -->
                  <!-- Shipping SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I use my UPS account to ship my order?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>Our system is automated to expedite your order. Unfortunately, there is not a way to handle this efficiently where it would make sense.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading 3 End -->
                  <!-- Shipping SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I change my shipping options online after an order is placed?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>If you need to change your shipping options you will have to contact your customer service representative. It will be determined at that point if it is feasable to change your shipping options.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading 4 End -->
                  <!-- Shipping SubHeading 5 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading5">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse5" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I split ship an order to multiple locations?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFive">
                      <div class="panel-body">
                        <span>Yes, this feature is available when you are placing your order.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading 5 End -->
                  <!-- Shipping SubHeading 6 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading6">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse6" aria-expanded="true" aria-controls="collapseOne">
                          <span>How would I arrange a split shipment?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSix">
                      <div class="panel-body">
                        <span>You are able to choose up to  three shipping locations via the 'shipping' section of your online order process.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading 6 End -->
                  <!-- Shipping SubHeading 7 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="Shipping-subHeading7">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion8a" href="#Shipping-subCollapse7" aria-expanded="true" aria-controls="collapseOne">
                          <span>When can we ship to Canada or Puerto Rico?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="Shipping-subCollapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingSeven">
                      <div class="panel-body">
                        <span>We can now ship to Canada and Puerto Rico.</span>
                      </div>
                    </div>
                  </div>
                  <!-- Shipping SubHeading 7 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- Shipping End -->
          
          <!-- PromotionalCodes Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion9" href="#PromotionalCodes-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Promotional Codes</h4>
                </a>
              </h4>
            </div>
            <div id="PromotionalCodes-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion9a" role="tablist" aria-multiselectable="false">
                  <!-- PromotionalCodes SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="PromotionalCodes-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4a" href="#PromotionalCodes-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>Where do I enter a Promo Code?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="PromotionalCodes-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>In the final step of Order Placement, you will be asked to enter your Promo Code (prior to payment).</span>
                      </div>
                    </div>
                  </div>
                  <!-- PromotionalCodes SubHeading1 End -->
                  <!-- PromotionalCodes SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="PromotionalCodes-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion9a" href="#PromotionalCodes-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>Is a Promo Code case-sensitive?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="PromotionalCodes-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>Yes, Promo Codes are case-sensitive.</span>
                      </div>
                    </div>
                  </div>
                  <!-- PromotionalCodes SubHeading2 End -->
                  <!-- PromotionalCodes SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="PromotionalCodes-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion9a" href="#PromotionalCodes-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can I use more than one Promo Code per order?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="PromotionalCodes-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>Sorry, the shopping cart will only allow one (1) Promo Code to be entered prior to check out.</span></span>
                      </div>
                    </div>
                  </div>
                  <!-- PromotionalCodes SubHeading 3 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- PromotionalCodes End -->
          
          <!-- MailingServices Start -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion10" href="#MailingServices-CollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>Mailing Services</h4>
                </a>
              </h4>
            </div>
            <div id="MailingServices-CollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
              <div class="panel-body">
                <div class="panel-group" id="accordion10a" role="tablist" aria-multiselectable="false">
                  <!-- MailingServices SubHeading1 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="MailingServices-subHeading1">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion10a" href="#MailingServices-subCollapse1" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can you inkjet addresses on Aqueous or UV coated stocks?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="MailingServices-subCollapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingOne">
                      <div class="panel-body">
                        <span>Yes, our inks our solvent based. We can inkjet on any coating, including UV.</span>
                      </div>
                    </div>
                  </div>
                  <!-- MailingServices SubHeading1 End -->
                  <!-- MailingServices SubHeading2 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="MailingServices-subHeading2">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion10a" href="#MailingServices-subCollapse2" aria-expanded="true" aria-controls="collapseOne">
                          <span>How long does the mailing department take after it is printed?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="MailingServices-subCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingTwo">
                      <div class="panel-body">
                        <span>It takes the mailing department 24-48 hours to process a job depending on customer response.</span>
                      </div>
                    </div>
                  </div>
                  <!-- MailingServices SubHeading2 End -->
                  <!-- MailingServices SubHeading3 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="MailingServices-subHeading3">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion10a" href="#MailingServices-subCollapse3" aria-expanded="true" aria-controls="collapseOne">
                          <span>How long does standard mail take compared to 1st class?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="MailingServices-subCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingThree">
                      <div class="panel-body">
                        <span>1st class takes 2-4 days and standard takes 4 days to 4 weeks depending on the location it is being mailed.</span>
                      </div>
                    </div>
                  </div>
                  <!-- MailingServices SubHeading 3 End -->
                  <!-- MailingServices SubHeading 4 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="MailingServices-subHeading4">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion10a" href="#MailingServices-subCollapse4" aria-expanded="true" aria-controls="collapseOne">
                          <span>Can you de-dupe a mailing list? (take duplicate records out)</span>
                        </a>
                      </h4>
                    </div>
                    <div id="MailingServices-subCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFour">
                      <div class="panel-body">
                        <span>We offer that service upon request, for an additional cost.</span>
                      </div>
                    </div>
                  </div>
                  <!-- MailingServices SubHeading 4 End -->
                  <!-- MailingServices SubHeading 5 Start -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="MailingServices-subHeading5">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion10a" href="#MailingServices-subCollapse5" aria-expanded="true" aria-controls="collapseOne">
                          <span>What payment types do you accept?</span>
                        </a>
                      </h4>
                    </div>
                    <div id="MailingServices-subCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subHeadingFive">
                      <div class="panel-body">
                        <span>We accept all major credit cards and Paypal through our website.</span>
                      </div>
                    </div>
                  </div>
                  <!-- MailingServices SubHeading 5 End -->
                </div>
              </div>
            </div>
          </div>
          <!-- MailingServices End -->

        </div>
        <!-- FAQ End -->
        
      </div>
    </div>
  </div>
</div>
<!-- FAQ End -->
        </li>
        <li class="list-group-item">
          <h3 id="contact-title">Didn't Find What you needed?<br/>Give us a call, or Email us. We're happy to help!</h3>
          <span id="contact-description" class="pull-right"><span class="btn btn-primary btn-lg"><i class="left phone icon"></i> (951) 444-1288</span><br/>
          <span style="padding: 3em;">Or <a href="mailto:myprintingdeals@gmail.com"><i class="glyphicon glyphicon-envelope"></i> Email Us</a></span></span>
<span id="contact-description">Our Business Hours:<br/>Monday-Friday 8am-8pm<br/>
          Saturday &amp; Sunday 8am-6pm</span>
          
        </li>
      </ul>
    </div>
  </div>
</div>
