body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#productImage {
	max-height: 180px;	
}
.thumbnail {
	min-height: 430px;
	max-height: 430px;
}

.thumbnail .description {
	color: #7f7f7f;
}

.price {
	font-weight: bold;
	font-size: 16px;
}

.row {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 0px;
	background-color: #333;
	border-radius: 0;
}

#template-download-section {
	padding: 2em 0 0 2em;
}

#updateBTN {
	margin: 0 2em 0 2em;
}

#checkout-thumbnailDiv {
	margin: 0 2em 0 2em;
}

#checkout-product-description {
	padding-top: 1.5em;
}

#commonly-asked-questions {
	display: none;
}

.row {
	padding: 0px;
}

#paypalSubmitBTN {
	color: #FFFFFF;
}

#paypal-form {
	padding-left:2em;
}

.pusher {
	padding-top: 10px;
}


	ul {
    list-style-type: none;
}