<nav class="navbar navbar-inverse" id="footer-container">
                <div class="ui inverted vertical footer segment">
                  <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                      <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                          <a href="#" class="item" data-toggle="modal" data-target="#company-section">Company</a>
                          {{!--<a href="#" class="item" data-toggle="modal" data-target="#customer-testimonial-section">Customer Testimonials</a>--}}
                          <a href="#" class="item" data-toggle="modal" data-target="#graphic-guidelines-section">Graphic Guidelines</a>
                          <a href="#" class="item" data-toggle="modal" data-target="#glossary-of-terms-section">Glossary of Terms</a>
                          <a href="#" class="item" data-toggle="modal" data-target="#additional-printing-details-section">Additional Printing Details</a>
                        </div>
                      </div>
                      <div class="three wide column">
                        <h4 class="ui inverted header">Resources</h4>
                        <div class="ui inverted link list">
                          <a href="#" class="item" data-toggle="modal" data-target="#privacy-security-section">Privacy & Security</a>
                          <a href="#" class="item" data-toggle="modal" data-target="#terms-and-conditions-section">Terms & Conditions</a>
                          {{!--<a href="#" class="item" data-toggle="modal" data-target="#template-download-section">Download Templates</a>--}}
                          <a href="#" class="item" data-toggle="modal" data-target="#turn-around-time-section">Turn Around Times</a>
                          <a href="/contact" class="item">Contact Us</a>
                        </div>
                      </div>
                      <div class="seven wide column">
                        <h4 class="ui inverted header">MyPrintingDeals.com</h4>
                        <p>If you can dream it, We can print it!</p>
                        <p style="text-align:center;" id="copyright">&copy; <span id="copyrightDate"></span> MyPrintingDeals.com - All Rights Reserved</p>
                        <script>
                          var d = new Date();
                          document.getElementById("copyrightDate").innerHTML = d.getFullYear();
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>